@import url('https://fonts.googleapis.com/css?family=Muli:100,200,300,400,500,600');
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600');
@import url('https://fonts.googleapis.com/css?family=Khula:100,200,300,400,500,600');

@import url('https://fonts.googleapis.com/css?family=Cabin');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import url('https://fonts.googleapis.com/css?family=Maven+Pro');
@import url('https://fonts.googleapis.com/css?family=Oxygen');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,500');
@import url('https://fonts.googleapis.com/css?family=Dosis:300,400,500,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Kanit:700');
@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../fonts/glyphicons-halflings-regular.eot');
    src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}
@font-face {
    font-family: 'Font Awesome';
    src: url('../font-awesome-4.1.0/fonts/fontawesome-webfont.eot');
    src: url('../font-awesome-4.1.0/fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'), url('../font-awesome-4.1.0/fonts/fontawesome-webfont.woff') format('woff'), url('../font-awesome-4.1.0/fonts/fontawesome-webfont.ttf') format('truetype'), url('../font-awesome-4.1.0/fonts/fontawesome-webfont.svg#fontawesomeregular') format('svg');
}

html {
  overflow: hidden;
}
body, h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto';
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 2px;
}
a {
  color: #2fa0b5;
}
a:hover {
  color: #217382;
}
.center-child {
  text-align: center;
}
.mountain {
  position: absolute;
  bottom: 0;
  z-index: 6;
  opacity: 0.99;
  border-bottom-color: #a8d6d5;
  -webkit-transition: all 1000ms cubic-bezier(0.350, 0.085, 0.300, 0.990);
  transition: all 1000ms cubic-bezier(0.350, 0.085, 0.300, 0.990);
}
#mountain-1 {
  right: 160px;
  border: 70px solid transparent;
  border-bottom: 84px solid #a8d6d5;
  opacity: 0.7;
}
#mountain-1.parallax-about {
  border-bottom-color: #6bc1bf;
  right: 190px;
}
#mountain-1.parallax-portfolio {
  border-bottom-color: #5ebd8d;
  right: 220px;
}
#mountain-2 {
  right: 10px;
  border: 100px solid transparent;
  border-bottom: 120px solid #d68080;
}
#mountain-2.parallax-about {
  border-bottom-color: #6bc1bf;
  right: 60px;
}
#mountain-2.parallax-portfolio {
  border-bottom-color: #5ebd8d;
  right: 110px;
}
#mountain-3 {
  right: 0;
  border: 90px solid transparent;
  border-bottom: 108px solid #a8d6d5;
  transform: translateX(30%);
  opacity: 0.5;
}
#mountain-3.parallax-about {
  border-bottom-color: #6bc1bf;
  right: 15px;
}
#mountain-3.parallax-portfolio {
  border-bottom-color: #5ebd8d;
  right: 30px;
}
#bird {
  position: absolute;
  bottom: 90px;
  right: 70px;
  z-index: 6;
  width: 16px;
  opacity: 0.6;
  -webkit-transition: all 1000ms cubic-bezier(0.350, 0.085, 0.300, 0.990);
  transition: all 1000ms cubic-bezier(0.350, 0.085, 0.300, 0.990);
}
#bird.parallax-about {
  right: 80px;
}
#bird.parallax-portfolio {
  right: 90px;
}
#overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: white;
  z-index: 6;
}
#contact-dropdown {
  position: absolute;
  padding-top: 2em;
  color: #fff;
  letter-spacing: 1px;
  z-index: 10;
  top: 0;
  right: 6%;
  background-color: #2fa0b5;
  text-transform: none;
  opacity: 0;
  -webkit-transform: translateY(-101%);
  transform: translatYe-101%);
  -webkit-transition: transform .5s, opacity .5s ease;
  transition: transform .5s, opacity .5s ease;
}
#contact-dropdown .info {
  padding: 1em 2em;
  text-align: center;
}
#contact-dropdown .contact-ul-wrap {
  text-align: center;
}
#contact-dropdown ul {
  padding: 0;
  display: inline-block;
}
#contact-dropdown ul li {
  display: inline-block;
  margin: 0.5em;
}
#contact-dropdown .social-links {
  font-size: 190%;
  cursor: pointer;
  color: #fff;
  -webkit-transition: color .5s ease;
  transition: color .5s ease;
}
#contact-dropdown .social-links:hover {
 color: #f05a5d;
}
#contact-dropdown.show-contact {
  opacity: 1;
  -webkit-transform: translate(0);
  transform: translate(0);
}
#contact-dropdown .close-contact {
  color: #2fa0b5;
  text-transform: uppercase;
  font-weight: 400;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: none;
  cursor: pointer;
  text-align: center;
  padding: 1em;
}
#contact-dropdown .close-contact:hover {
  border-color: #2fa0b5;
}
#contact-dropdown .close-contact i {
  transform: rotate(180deg);
  -webkit-transition: transform .2s;
  transition: transform .2s;
}
#contact-dropdown .close-contact:hover i {
  transform: none;
}
.header {
  margin: 0 auto;
  width: 90%;
  max-width: 970px;
  font-family: 'Oxygen';
  font-weight: 600;
}
.header .name {
  color: #3b5269;
  font-size: 24px;
}
.header span {
  color: #2fa0b5;
}
.header .section-title {
  font-weight: 400;
  font-size: 16px;
  opacity: .5;
  color: #2c3e50;
}
.header .section-title.title-animate {
  letter-spacing: 5px;
  opacity: 0;
}
.fixed {
  position: fixed;
  z-index: 9;
  top: 6%;
}
.fixed#top-left {
  padding-top: 0;
  padding-left: 10px;
}
.fixed#top-right {
  top: 6%;
  right: 12%;
}
.fixed ul {
  list-style-type: none;
}
.fixed ul li {
  text-align: center;
  margin: 2px;
  /*padding: 3px 0;*/
  font-weight: 600;
}
.fixed ul li.contact-btn {
  border-color: #f05a5d;
  background-color: #f05a5d;
  border: none;
  padding: 0.25em 0.45em;
}
.fixed ul li.contact-btn .fill-span-inner {
  color: #fff;
}
/*.fixed ul li:first-of-type {
  min-width: 100px;
  background-color: #f05a5d;
  border: 1px solid #f05a5d;
  color: #fff;
  margin-bottom: 6px;
  -webkit-transition: color .4s, background-color .4s, border-color .4s ease-in;
  transition: color .4s, background-color .4s, border-color .4s ease-in;
}*/
.fixed ul li:hover {
  color: #232323;
  /*background-color: transparent;*/
  cursor: pointer;
  /*border-color: #ddd;*/
}
.fixed ul li:last-of-type {
  text-transform: none;
  color: #f05a5d;
}
.underline {
  display: block;
  height: 3px;
  width: 68px;
  background-color: #666;
  opacity: 0;
  margin: 0 auto;
  -webkit-transition: opacity .4s linear;
  transition: opacity .4s linear;
}
.fixed ul li:hover .underline {
  opacity: 1;
}
.menu-divider:before, .menu-divider:after {
  content: '';
  width: 22px;
  height: 2px;
  background-color: #666;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}
.menu-divider:after {
  margin-right: 0;
  margin-left: 5px;
}
.fixed ul li a {
  color: inherit;
  text-decoration: none;
}
.menu-divider {
  color: #666;
  text-transform: none;
}

h1 {
  /*font-family: 'Poppins';*/
  text-transform: uppercase;
  font-weight: 200;
  letter-spacing: 10px;
  color: #335858;
}
.reveal h1 {
  opacity: 0;
}
a {
  /*color: #46bde2;*/
  text-decoration: none;
}

.profile-img {
  width: 100px;
  border-radius: 50px;
  margin-bottom: 16px;
}

#pagepiling .inner {
  z-index: 5;
  width: 90%;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 10em;
  max-width: 970px;
  margin: 0 auto;
}

.blurb {
  width: 96%;
  max-width: 660px;
  padding: 1em 3em 0 0;
  font-size: 15px;
  line-height: 2.1;
}
#about-section {
  background: radial-gradient(ellipse at top, #ffffff 0%, #d4d4d4 100%);
}
#profile-section .blurb p {
  display: inline-block;
  width: 97%;
  color: #2fa0b5;
}
.blurb p span {
  font-weight: 500;
}

#pagepiling .inner.right-align {
  margin-top: 6em;
}

.right-align .blurb {
  vertical-align: top;
  width: 62%;
  max-width: 580px;
  /*min-height: 160px;*/
  display: inline-block;
  padding: 0;
  padding-left: 1.5em;
  border-right: none;
}
.right-align .blurb p.about-main {
  font-weight: 500;
  color: #2fa0b5;
}
.right-align .blurb.about-extra {
  display: none;
  width: 100%;
  max-width: none;
  margin-top: 2em;
  line-height: 1.7;
  padding: 0 3em 0 4em;
}
.animate-divider {
  display: inline-block;
  width: 1px;
  height: 1px;
  border-left: 1px solid #2fa0b5;
  vertical-align: top;
  opacity: .25;
}
.horizontal-line {
  display: inline-block;
  width: 30px;
  height: 1px;
  border-top: 1px solid #2fa0b5;
  vertical-align: top;
  opacity: .25;
}
.right-align .header {
  margin-bottom: 130px;
}

.right-align h1 {
  text-align: right;
}

#about-section .lead-text {
  padding-top: .3em;
  display: inline-block;
}
#about-section .lead-text > h1:first-of-type {
  margin-top: 0;
}
#portfolio-content {
  padding-top: 2.5em;
  padding-bottom: 1.8em;
}
#portfolio-section .blurb {
  padding-top: 0.2em;
}
.data-visualization {
  background: url(../img/data-visualization.png) no-repeat;
}
.minesweeper {
  background: url(../img/minesweeper.png) no-repeat;
}
.hexasynth {
  background: url(../img/hexasynth.png) no-repeat;
}
#alternate-portfolio {
  display: none;
}
.portfolio-item {
  overflow: hidden;
  cursor: pointer;
  position: relative;
  /*border-radius: 3px;*/
  display: inline-block;
  width: 28%;
  margin: 0 2%;
  vertical-align: top;
  background-size: 100%;
/*  -webkit-transition: background-size .7s ease-in-out, background-position .7s ease-in-out;
  transition: background-size .7s ease-in-out, background-position .7s ease-in-out;*/
}
#portfolio-content .portfolio-item:first-of-type {
  margin-left: 0;
}
.portfolio-item:after {
  content: " ";
  display: block; 
  width: 100%;
  padding-top: 100%;
  opacity: 0;
  transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
}
.portfolio-item:hover:after {
  background-color: #2fa0b5;
  opacity: 0.8;
}
.portfolio-item h3 {
  width: 100%;
  position: absolute;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 1px;
  font-family: 'Montserrat';
  opacity: 0.8;
  color: #fff;
  /*text-transform: none;*/
  bottom: 0em;
  left: 0em;
  margin: 0;
  padding: 0.5em 0 0.5em 0.5em;
  transition: padding-left .3s;
  -webkit-transition: padding-left .3s;
  /*background-color: #2fa0b5;*/
  /*opacity: 0.4;*/
}
.portfolio-item:hover h3 {
  padding-left: 1.5em;
  bottom: 1.9em;
  z-index: 2;
  opacity: 1;
}
/*.portfolio-item.hexasynth h3 {
  color: #2fa0b5;
}
.portfolio-item.minesweeper h3 {
  color: #f05a5d;
}*/
.portfolio-item:hover h3,
.portfolio-item.hexasynth:hover h3,
.portfolio-item.minesweeper:hover h3 {
  color: #fff;
}
.portfolio-item .portfolio-icon {
  display: none;
  z-index: 2;
  font-size: 16px;
  font-family: 'Font Awesome';
  position: absolute;
  /*background-color: #fff;*/
  /*color: #2fa0b5;*/
  color: #fff;
  font-size: 60px;
  opacity: 0.8;
  /*width: 30px;*/
  /*height: 30px;*/
  /*border-radius: 30px;*/
  /*line-height: 30px;*/
  text-align: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.portfolio-item:hover .portfolio-icon {
  display: inline;
}
.portfolio-item .portfolio-divider {
  position: absolute;
  z-index: 2;
  bottom: 0.2em;
  display: inline-block;
  background-color: #f05a5d;
  width: 0;
  height: 3px;
  margin-left: 8%;
  margin-right: 1em;
  transition: width 0.3s ease;
  -webkit-transition: width 0.3s ease;
}
.portfolio-item:hover .portfolio-divider {
  width: 84%;
  bottom: 3em;
}
.portfolio-item ul.desc {
  position: absolute;
  color: #2fa0b5;
  /*padding-left: 0;*/
  bottom: 0;
  margin-left: 100%;
  margin-bottom: 0.5em;
  width: 100%;
  opacity: 0;
  z-index: 2;
  transition: margin-left 0.3s, opacity 0.1s;
  -webkit-transition: margin-left 0.3s, opacity 0.1s;
  /*background-color: #fff;*/
  /*border-bottom-left-radius: 50px;*/
  /*padding-left: 0.5em;*/
  padding: 0.2em 0.5em;


  /*z-index: -1;*/
}
.portfolio-item:hover ul.desc {
  margin-left: 1.5em;
  opacity: 1;
}
.portfolio-item ul.desc li {
  background-color: #fff;
  display: inline-block;
  transform: skewX(-25deg);
  transform-origin: 100%;
}
.portfolio-item ul.desc li span {
  font-family: 'Oxygen';
  display: block;
  font-size: 10px;
  letter-spacing: 1px;
  padding: 0.7em 1em;
  transform: skewX(25deg);
  transform-origin: 100%;
}
.portfolio-overlay {
  cursor: pointer;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: transparent;
  border: none;
  z-index: 3;
}
/*.modal-backdrop {
  display: none;
  position: fixed;
  opacity: 0;
  transition: opacity 1s;
  -webkit-transition: opacity 1s;
}
.modal-open .modal-backdrop {
  display: block;
  opacity: 0.5;
}*/

.modal-backdrop {
  background: radial-gradient(ellipse at top, #033d94 0%, #090A0F 100%);
}
.modal-backdrop.show {
  opacity: 0.8;
}
.modal-body img {
  width: 100%;
}
.modal-body h4 {
  /*font-family: Muli;*/
  font-family: Montserrat;
  /*font-family: Poppins;*/
  /*font-family: Khula;*/
  /*font-family: Cabin;*/
/*  font-family: Oxygen;
  font-family: Roboto;*/
  /*text-transform: none;*/
  color: #2fa0b5;
  letter-spacing: 1px;
  margin-bottom: 0.8em;
  padding-right: 20px;
}
.modal-dialog {
  color: #374d69;
}
.modal-header {
  border-color: #a3d0d8;
}
.modal-header .close {
  color: #bbb;
  border: 2px solid #bbb;
  border-radius: 2px;
  width: 28px;
  height: 28px;
  background-color: #fff;
  position: relative;
  text-shadow: none;
  margin-bottom: 4px;
  margin-top: 4px;
  transform: translate(0, 0);
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}
.modal-header .close span {
  position: absolute;
  top: 0;
  transform: translate(-50%, -5%);
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}
.modal-header .close:hover {
  height: 32px;
  width: 32px;
  margin-bottom: 0;
  background-color: #f05a5d;
  border-color: #f05a5d;
  color: #fff;
  transform: translate(7%, -2%);
  opacity: 1;
}
.modal-header .close:hover span {
  transform: translate(-50%, 0%);
}
.modal-title {
  /*font-family: Muli;*/
  font-family: Montserrat;
/*  font-family: Poppins;
  font-family: Khula;
  font-family: Cabin;
  font-family: Oxygen;
  font-family: Roboto;*/
  font-weight: 400;
}
.modal-dialog p {
  font-family: Montserrat;
  font-weight: 300;
  text-transform: none;
  letter-spacing: 1px;
  color: #888;
  padding-right: 20px;
}
.modal-content {
  border-radius: 2px;
}
.demo-row {
  margin-bottom: 1em;
  margin-top: 2em;
}
.demo-row a:hover,
.demo-row a:focus {
  color: #2fa0b5;
}
.demo-row .fill-btn {
  padding: 0.5em 3em;
  border-radius: 2px;
}

/* BUTTONS */

.fill-btn {
  position: relative;
  display: inline-block;
  /*width: 10em;*/
  text-align: center;
  margin: 0 auto;
  border: 2px solid #2fa0b5;
  padding: 0.2em 0.4em;
  /*border-radius: 2px;*/
  text-decoration: none;
  font-weight: 500;
}
.fill-btn:hover:before {
  transform-origin: center bottom;
  -webkit-transition: transform .25s ease;
  transition: transform .25s ease;
  transform: scale3d(1, 1, 1);
}
.fill-btn:before {
  content: '';
  background-color: #2fa0b5;
  transform: scale3d(1, 0, 1);
  -webkit-transition: transform .25s ease;
  transition: transform .25s ease;
  transform-origin: center bottom;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.fill-span-inner {
  position: relative;
  transition: color .25s ease;
  -webkit-transition: color .25s ease;
}
a:hover .fill-span-inner {
  color: #fff;
}
.modal-body .source-btn {
  text-align: center;
  text-decoration: none;
  text-transform: none;
  font-family: Poppins;
  font-weight: 400;
  font-size: 15px;
}

@media (max-width: 900px) {
  .header {
    width: 96%;
  }
  #pagepiling .inner {
    width: 96%;
  }
}
@media (max-width: 850px) {
  #contact-dropdown {
    right: 5%;
  }
  .right-align .blurb {
    width: 29em;
  }
  .right-align .blurb p.about-extra {
    display: none;
    margin: 0;
  }
  .right-align .blurb.about-extra {
    display: block;
  }
}

@media (max-width: 750px) {
  .right-align .blurb.about-extra {
    padding-left: 3.5em;
  }
}

@media (max-width: 740px) {
  #portfolio-content .portfolio-item,
  #portfolio-content .portfolio-item:first-of-type {
    display: block;
    height: 70px;
    margin: 7px 0;
    width: 70px;
  }
  .portfolio-item h3,
  .portfolio-item .portfolio-divider,
  .portfolio-item ul.desc {
    display: none;
  }
  #alternate-portfolio {
    display: block;
    position: absolute;
    left: 7.5em;
  }
  #alternate-portfolio .alternate-title {
    color: #2fa0b5;
    font-family: 'Kanit';
    height: 77px;
    margin-top: 0;
    padding: 50px 0 0;
    font-size: 20px;
  }
}

@media (max-width: 700px) {
  .fixed#top-right {
    right: 5%;
  }
  .right-align .blurb {
    padding-left: 0.6em;
  }
}

@media (max-width: 630px) {
  #contact-dropdown {
    right: 4%;
  }
  #pagepiling .inner.right-align {
    margin-top: 0.3em;
  }
  .right-align h1 {
    text-align: left;
  }
  #about-section .lead-text {
    margin-bottom: 2em;
    margin-left: 5%;
    /*margin-right: 15%;*/
  }
  #about-section .animate-divider {
    float: left;
  }
  .blurb {
    width: 100%;
    padding-right: 1em;
  }
  .right-align .blurb,
  .right-align .blurb.about-extra {
    width: 90%;
    margin: 0 5%;
    padding: 0;
  }
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 900px;
    /*max-width: none;*/
    padding: 0 4%;
    width: 90%;
  }
}

@media (max-width: 550px) {
  #contact-dropdown {
    width: 92%;
  }
  #contact-dropdown .close-contact {
    border-color: #2fa0b5;
  }
  #pagepiling .inner {
    padding-top: 9em;
  }
  #about-section .lead-text {
    margin-left: 2%;
    margin-bottom: 1em;
    /*margin-right: 12%;*/
  }
/*  #about-section .animate-divider {
    float: left;
  }*/
  .right-align .blurb,
  .right-align .blurb.about-extra {
    width: 94%;
    margin: 0 2%;
  }
  .horizontal-line {
    max-width: 300px;
  }
}

@media (max-width: 500px) and (max-height: 600px)  {
  #profile-section .lead-text {
    margin-right: 1em;
  }
}

@media (max-width: 420px) and (max-height: 560px) {
  #pagepiling .inner {
    padding-top: 8em;
    width: 98%;
  }
  #about-section .lead-text {
    margin-bottom: 0.9em;
  }
  .about-main {
    line-height: 1.8;
  }
  #portfolio-content {
    padding-top: 1.2em;
    padding-bottom: 1.2em;
}
  #portfolio-content .portfolio-item,
  #portfolio-content .portfolio-item:first-of-type {
    height: 60px;
    width: 60px;
  }
  #alternate-portfolio .alternate-title {
    height: 60px;
    margin-top: 5px;
    padding: 15px 0;
  }
  .animate-divider {
    max-height: 150px;
  }
}

/*MAX-HEIGHT MEDIA QUERIES*/
@media (max-height: 600px) {
  .portfolio-item {
    width: 22%;
  }
  .profile-img {
    margin-top: 0.5em;
  }
  #profile-section .lead-text {
    display: inline-block;
    float: left;
    margin-right: 15%;
  }
  #portfolio-content {
    padding-top: 1.4em;
    padding-bottom: 1.7em;
  }
}

@media (max-height: 600px) and (min-width: 600px) {
  #profile-section .lead-text {
    margin-right: 10em;
  }
}

@media (max-height: 600px) and (min-width: 630px) {
  #pagepiling .inner.right-align {
    margin-top: 4em;
  }
}

@media (max-height: 550px) {
  .portfolio-item {
    width: 19%;
  }
}

@media (max-height: 500px) {
  .portfolio-item {
    width: 10%;
  }
  #pagepiling .inner {
    padding-top: 7em;
  }
}

/*RESPONSIVE EDGE CASES*/
@media (max-height: 600px) and (max-width: 850px) and (min-width: 630px) {
  #pagepiling .inner.right-align {
    padding-top: 7em;
  }
}

@media (max-height: 500px) and (max-width: 850px) and (min-width: 630px) {
  #pagepiling .inner.right-align {
    padding-top: 4em;
  }
  .right-align .blurb.about-extra {
    margin-top: 1em;
  }
}

