@import url('https://fonts.googleapis.com/css?family=Rambla');
@import url('https://fonts.googleapis.com/css?family=Cabin');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import url('https://fonts.googleapis.com/css?family=Maven+Pro');
@import url('https://fonts.googleapis.com/css?family=Oxygen');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,500');
@import url('https://fonts.googleapis.com/css?family=Dosis:300,400,500,600,700,800');


body, h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto';
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 2px;
}
.header {
  /*padding-top: 5%;*/
  /*font-size: 24px;*/
  margin: 0 auto;
  width: 96%;
  max-width: 970px;
  font-family: 'Oxygen';
  font-weight: 600;
  /*margin-bottom: 60px;*/
  color: #254a4a;
}
.header .name {
  font-size: 24px;
}
.header span {
  color: #2fa0b5;
}
.header .section-title {
  font-weight: 400;
  font-size: 16px;
  opacity: .5;
}
.header .section-title.title-animate {
  letter-spacing: 5px;
  opacity: 0;
}
.fixed {
  position: fixed;
  z-index: 9;
  top: 6%;
}
.fixed#top-left {
  padding-top: 0;
  padding-left: 10px;
  /*left: 10%;*/
}
.fixed#top-right {
  top: 6%;
  right: 14%;
}
.fixed ul {
  list-style-type: none;
}
.fixed ul li {
  text-align: center;
  margin: 2px;
  padding: 3px 0;
  font-weight: 600;
}
.fixed ul li:first-of-type {
  min-width: 100px;
  background-color: #f05a5d;
  color: #fff;
  margin-bottom: 6px;
  -webkit-transition: color .4s, background-color .4s ease-in;
  transition: color .4s, background-color .4s ease-in;
}
.fixed ul li:hover {
  color: #232323;
  background-color: #fff;
  cursor: pointer;
}
.fixed ul li:last-of-type {
  text-transform: none;
  color: #f05a5d;
}
.underline {
  display: block;
  height: 3px;
  width: 68px;
  background-color: #666;
  opacity: 0;
  margin: 0 auto;
  -webkit-transition: opacity .4s linear;
  transition: opacity .4s linear;
}
.fixed ul li:hover .underline {
  opacity: 1;
}
.menu-divider:before, .menu-divider:after {
  content: '';
  width: 22px;
  height: 2px;
  background-color: #666;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}
.menu-divider:after {
  margin-right: 0;
  margin-left: 5px;
}
.fixed ul li a {
  color: inherit;
  text-decoration: none;
}
.menu-divider {
  color: #666;
  text-transform: none;
}

h1 {
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 10px;
  color: #254a4a;
}

a {
  color: #46bde2;
  text-decoration: none;
}

.profile-img {
  width: 100px;
  border-radius: 50px;
  margin-bottom: 16px;
}

#pagepiling .inner {
  width: 96%;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 11em;
  max-width: 970px;
  margin: 0 auto;
}

.blurb {
  width: 96%;
  max-width: 650px;
  padding: 1em 3em 0 0;
  font-size: 15px;
  line-height: 32px;
}
#profile-section .blurb {
  border-right: 1px solid #2fa0b5;
}

#pagepiling .inner.right-align {
  margin-top: 4em;
}

.right-align {
  padding-bottom: 100px;
}
.right-align .blurb {
  vertical-align: top;
  max-width: 580px;
  min-height: 160px;
  display: inline-block;
  padding: 0;
  padding-left: 20px;
  border-right: none;
}
.animate-divider {
  display: inline-block;
  width: 1px;
  height: 1px;
  border-left: 1px solid #2fa0b5;
  vertical-align: top;
  opacity: .25;
}
.horizontal-line {
  display: inline-block;
  width: 30px;
  height: 1px;
  border-top: 1px solid #2fa0b5;
  vertical-align: top;
  opacity: .25;
}
.right-align .header {
  margin-bottom: 130px;
}

.right-align h1 {
  text-align: right;
}

.blurb p {

}

.lead-text {
  display: inline-block;
}
.lead-text > h1:first-of-type {
  margin-top: 0;
}
#portfolio-content {
  padding-top: 3em;
}
.minesweeper {
  background: url(../img/minesweeper.png) no-repeat;
}
.portfolio-item {
  border-radius: 3px;
  display: inline-block;
  width: 30%;
  margin: 0 1%;
  vertical-align: top;
  background-size: 100%;
  -webkit-transition: background-size .7s ease-in-out, background-position .7s ease-in-out;
  transition: background-size .7s ease-in-out, background-position .7s ease-in-out;
}
#portfolio-content .portfolio-item:first-of-type {
  margin-left: 0;
}
.portfolio-item:after {
  content: " ";
  display: block; 
  width: 100%;
  padding-top: 100%;
}
.portfolio-item:hover {
  box-shadow: 1px 1px 14px #aaa;
  background-size: 106%;
  background-position: -9px -9px;
  border: 1px solid #ccc;
}
.portfolio-item img {
  width: 300px;
}

@media (max-width: 700px) {
  .fixed#top-right {
    right: 5%;
  }
}

@media (max-width: 550px) {
  #pagepiling .inner {
    padding-top: 30%;
  }
}




